<window-view-container [heading]="title"
                       [size]="windowSize"
                       [floating]="isFloatingWindow"
                       [showBackground]="showBackground"
                       [panelClass]="panelClass">
  It's a window!

  <div class="form-group">
    <label>Title</label>
    <input class="form-control" [(ngModel)]="title" type="string">
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" [(ngModel)]="isFloatingWindow">
      Floating window
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" [(ngModel)]="showBackground">
      Show background
    </label>
  </div>

  <div class="form-group">
    <label>Window size</label>
    <select class="form-control" [(ngModel)]="windowSize">
      <option value="small">small</option>
      <option value="middle">middle</option>
      <option value="large">large</option>
      <option value="relative-small">relative-small</option>
      <option value="relative-middle">relative-middle</option>
      <option value="relative-large">relative-large</option>
    </select>
  </div>

  <div class="form-group">
    <label>Panel class</label>
    <select class="form-control" [(ngModel)]="panelClass">
      <option value="card-default">card-default</option>
      <option value="card-primary">card-primary</option>
      <option value="card-success">card-success</option>
      <option value="card-info">card-info</option>
      <option value="card-warning">card-warning</option>
      <option value="card-danger">card-danger</option>
    </select>
  </div>

  <button class="btn btn-default" (click)="openWindow()">Open anothor window</button>
</window-view-container>